<div id="#error-messages">

</div>
<div>
    <form class="form-horizontal col-xs-6 col-md-offset-3" method="post" onsubmit="return upload()" enctype="multipart/form-data">
        <h2 class="col-md-offset-1">Add a picture</h2>
        <div class="form-group">
            <label for="inputName" class="control-label col-xs-2">Title</label>
            <div class="col-xs-8">
                <input name="title" type="text" class="form-control" id="inputTitle" placeholder="title">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPicture" class="control-label col-xs-2">picture</label>
            <div class="col-xs-8">
                <input name="url" type="file" class="form-control" id="inputPicture">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDescription" class="control-label col-xs-2">Description</label>
            <div class="col-xs-8">
                <input name="description" type="text" class="form-control" id="inputDescription" placeholder="description">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-4 col-xs-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>
<div class="col-xs-12">
    <div class="center">
        <button id="all" class="btn btn-success" onclick="All()">
            All image
        </button>
        <button id="follow-button" class="btn btn-default" onclick="LoadFollow()" >
            Followed
        </button>
        <button id="friend-button" class="btn btn-default" onclick="LoadFriend()">
            Friend
        </button>
        </h2>
        <div id="img-list">

        </div>


    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>
    <script>
        function All(){
            $("#follow-button").removeClass().addClass("btn btn-default");
            $("#friend-button").removeClass().addClass("btn btn-default");
            $("#all").removeClass().addClass("btn btn-success");
            LoadPost();

        }
        function LoadFriend(){
            $("#follow-button").removeClass().addClass("btn btn-default");
            $("#all").removeClass().addClass("btn btn-default");
            $("#friend-button").removeClass().addClass("btn btn-success");
            axios
                .get('{{url}}/post/friend?id={{session._id}}')
                .then(function (res) {
                    $("#img-list").empty();
                    if (res.data.success) {
                        res.data.posts.map(function (post) {
                            $("#img-list").append(` <a href="/image/${post._id}" class="col-xs-4"><div><h1>${post.title}</h1><img width="100%" height="300" src="${post.url}"/></div></a>`)
                        })

                    }
                })
        }
        function LoadFollow(){
            $("#friend-button").removeClass().addClass("btn btn-default");
            $("#all").removeClass().addClass("btn btn-default");
            $("#follow-button").removeClass().addClass("btn btn-success");
            axios
                .get('{{url}}/post/follow?id={{session._id}}')
                .then(function (res) {
                    $("#img-list").empty();
                    if (res.data.success) {
                        res.data.posts.map(function (post) {
                            $("#img-list").append(` <a href="/image/${post._id}" class="col-xs-4"><div><h1>${post.title}</h1><img width="100%" height="300" src="${post.url}"/></div></a>`)
                        })

                    }
                })
        }
        function LoadPost() {
            axios
                .get('{{url}}/post?id={{session._id}}')
                .then(function (res) {
                    $("#img-list").empty();
                    if (res.data.success) {
                        res.data.posts.map(function (post) {
                            $("#img-list").append(` <a href="/image/${post._id}" class="col-xs-4"><div><h1>${post.title}</h1><img width="100%" height="300" src="${post.url}"/></div></a>`)
                        })

                    }
                })
        }
        window.onload = function () {
            LoadPost()
        }
        function upload() {
            $("#error-messages").empty();
            var formData = new FormData();
            formData.append("url", $('#inputPicture')[0].files[0]);
            axios.post("{{url2}}/", formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(function (res) {
                var formData = new FormData();
                formData.append("title", $('#inputTitle').val());
                formData.append("description", $('#inputDescription').val());
                formData.append("url", "{{url2}}" + res.data.url);
                formData.append("id", "{{session._id}}");
                axios.post("{{url}}/post", formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                    .then(function (res) {
                        if (res.data.success) {
                            LoadPost();
                            return;
                        }
                        $("#error-messages").empty();
                        res.data.messages.map(function (message, index) {
                            $("#error-messages").append(`<div id='${index}' class="error-message">${message}</div>`)
                        })

                    });
            })

            return false;
        }

    </script>